{% extends "base.twig" %}

{% block main %}
    <h1>Questions</h1>

    <ul>
        <li><a href="/admin/questions/account">List Questions From an Account</a></li>
        <li><a href="/admin/questions/author">List Questions For an Author</a></li>
        <li><a href="/admin/questions/collection">List Questions For a Collection</a></li>
        <li><a href="/admin/questions/entry">List Questions For an Entry</a></li>
    </ul>
{% endblock %}
