<nav class="navbar navbar-expand-lg {% if faqoff_custom.vars['dark-theme'] %} dark-navbar{% endif %}">
    <a class="navbar-brand">{{ faqoff_custom.vars['site-name']|default('FAQ Off') }}</a>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Home {#
                #}{% if not navbar or navbar == "" %}<span class="sr-only">(current)</span>{% endif %}{#
            #}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/authors">Authors</a>
        </li>
        {% if authorized() %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="manageDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Control Panel
                </a>
                <div class="dropdown-menu{% if faqoff_custom.vars['dark-theme'] %} dark-dropdown{% endif %}" aria-labelledby="manageDropdown">
                    <a class="dropdown-item" href="/manage">Home</a>
                    <a class="dropdown-item" href="/manage/authors">Authors</a>
                    <a class="dropdown-item" href="/manage/collections">Collections</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/manage/invite">Invite Users</a>
                </div>
            </li>
            {% if is_admin() %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Administrators
                </a>
                <div class="dropdown-menu{% if faqoff_custom.vars['dark-theme'] %} dark-dropdown{% endif %}" aria-labelledby="adminDropdown">
                    <a class="dropdown-item" href="/admin">Home</a>
                    <a class="dropdown-item" href="/admin/authors">Authors</a>
                    <a class="dropdown-item" href="/admin/collections">Collections</a>
                    <a class="dropdown-item" href="/admin/custom">Custom Files</a>
                    <a class="dropdown-item" href="/admin/invitetree">Invite Tree</a>
                    <a class="dropdown-item" href="/admin/themes">Themes</a>
                </div>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="/auth/logout/{{ session.logout_token }}">Log Out</a>
            </li>
        {% else %}
            <li class="nav-item">
            <a class="nav-link" href="/auth/twitter">Log In {#
                #}{% if navbar == "authorize" %}<span class="sr-only">(current)</span>{% endif %}{#
            #}</a>
            </li>
        {% endif %}
    </ul>
</nav>